In [2]:
import os
os.listdir()

['.ipynb_checkpoints',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Untitled.ipynb']

In [7]:
print(1)

1

In [1]:
import pandas

In [3]:
import pandas
df1=pandas.read_csv("supermarkets.csv")
df1

6

In [19]:
import pandas
df2=pandas.read_excel("supermarkets.xlsx",sheet_name=0)
df2

AttributeError: type object 'pandas._libs.tslibs.conversion._TSObject' has no attribute '__reduce_cython__'

In [11]:
print("sorry")

sorry

In [12]:
df1.iloc[1:4,1:4]

          Address           City             State
1  735 Dolores St  San Francisco          CA 94119
2     332 Hill St  San Francisco  California 94114
3    3995 23rd St  San Francisco          CA 94114

In [4]:
len(df1.index)

6

In [6]:
df1["Continent"]=df1.shape[0]*["North America"]

In [10]:
df1["Continent"]=df1["State"]+ " " + "Nort America"
df1

,ID,Address,City,State,Country,Name,Employees,Continent
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,CA 94114 Nort America
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,CA 94119 Nort America
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,California 94114 Nort America
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,CA 94114 Nort America
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,California Nort America
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,CA 94114 Nort America

In [19]:
df1_t=df1.T

,0,1,2,3,4,5
ID,1,2,3,4,5,6
Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Country,USA,USA,USA,USA,USA,USA
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
Employees,8,15,25,10,12,20
Continent,CA 94114 Nort America,CA 94119 Nort America,California 94114 Nort America,CA 94114 Nort America,California Nort America,CA 94114 Nort America

In [22]:
len(df1_t.index)

8

In [23]:
df1_t["My Adress"]=[1,2,3,4,5,6,7,8]

In [25]:
df1_t

,0,1,2,3,4,5,My Adress
ID,1,2,3,4,5,6,1
Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St,2
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,3
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114,4
Country,USA,USA,USA,USA,USA,USA,5
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley,6
Employees,8,15,25,10,12,20,7
Continent,CA 94114 Nort America,CA 94119 Nort America,California 94114 Nort America,CA 94114 Nort America,California Nort America,CA 94114 Nort America,8

In [17]:
df1=df1_t.T
df1

NameError: name 'df1_t' is not defined

In [35]:
import geopy
from geopy.geocoders import ArcGIS

In [39]:
nom=ArcGIS()
n=nom.geocode("Sector 35 Sonepat")

In [40]:
n.latitude

28.995870000000025

In [8]:
df1["Address"]=df1["Address"] + ","  + df1["City"] + ","

NameError: name 'df1' is not defined